<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Data</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <div class="main">
        <h1>Delete Now</h1>
        <form action="/student/delete/account" method="post">
            <label for="id">See All Student Details & Enter your id first To Delete your data: </label><br><br>
            <input type="text" id="id" name="id" placeholder=" & Enter Id"> <br> <br>
 
            <input type="submit" value="Delete">
        </form>
    </div>
</body>
</html>