<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <div class="main">
        <h1>Welcome To Home Page</h1>
        <img src="images/home.jpeg" alt="home-img">
        <nav>
            <ul>
                <li><a href="/student/all">See All Student Details</a></li>
                <li><a href="/student/register">Create Student Account</a></li>
                <li><a href="/student/update/data">Update Your Student Account</a></li>
                <li><a href="/student/delete/account">Delete Your Student Account</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>