<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Data</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <div class="main">
        <h1>Update Now</h1>
        <form action="/student/update/data" method="post">
            <label for="id">See All Student Details & Enter your id first To Update your data: </label><br>
            <input type="text" id="id" name="id" placeholder=" & Enter Id"> <br> <br>
            <label for="name">Name</label>
            <input type="text" id="name" name="name"> <br>
            <label for="class">Class</label>
            <input type="text" id="class" name="className"> <br>
            <label for="email">Email</label>
            <input type="text" id="email" name="email"> <br>
            <input type="submit" value="Update">
        </form>
    </div>
</body>
</html>